footer {
    background: $bgfooter; // padding: 0 0 20px 0;
    .row {
        &:first-child {
            border-bottom: 1px solid $black;
            margin-bottom: 32px;
            padding: 35px 0 18px 0;
            .social {
                margin: 16px 0 0 0;
                text-align: right;
                li {
                    line-height: normal;
                    margin-left: 25px;
                    a {
                        color: $gray;
                        font-size: 20px;
                        transition: all 250ms ease-in-out 0s;
                        &:hover {
                            color: $bgcolor;
                        }
                    }
                }
            }
        }
    }
    .row {
        h5 {
            color: $bgcolor;
            font-weight: $texto-semibold;
            font-size: $texto-grande;
            margin: 0 0 22px 0;
            position: relative;
            width: 10%;
            border-bottom: 1px solid $bgnav;
            &:before {
                content: '';
                border-bottom: 1px solid $bgnav;
                display: inline-block;
                margin: 22px auto 0 auto;
                position: absolute;
                left: 0;
                width: 200%;
            }
        }
        .links-footer {
            float: left;
            font-size: $texto-nav;
            margin-bottom: 24px;
            width: 100%;
            li {
                a {
                    color: $bgcolor;
                    display: inline-block;
                    padding: 5px 0;
                    position: relative;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    span {
                        display: inline-block;
                        position: relative;
                        transition: 0.5s;
                        &:after {
                            content: '\f054';
                            font-family: 'FontAwesome';
                            position: absolute;
                            opacity: 0;
                            top: 2px;
                            left: -5px;
                            transition: 0.5s;
                        }
                    }
                    &:hover {
                        span {
                            padding-left: 20px;
                        }
                    }
                    &:hover span:after {
                        opacity: 1;
                        left: 0;
                    }
                }
            }
        }
    }
    .copyright {
        background: $bgcopy;
        padding: 15px 0;
        color: $bgcolor;
        .row {
            border-bottom: none;
            margin-bottom: 0;
            padding: 0;
            .badges {
                li {
                    a {
                        img {
                            width: 120px;
                        }
                        .last {
                            width: 28px;
                        }
                    }
                }
            }
        }
    }
}
