@media only screen and (max-width : 480px) {
  #login-content {
   width: 100% !important;
  }
}

#login-content {
  display: none;
  background: $bgcolor;
  border-top: 2px solid $color-rosa;
  padding: 20px;
  position: absolute;
  width: 340px;
  z-index: 999;
  right: 0;
  top: 40px;


  .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #333;
  }

  h6 {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
  }

  label {
    text-align: left;
  }

  .btn {
    background: $color-rosa;
    color: $bgcolor;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    margin-bottom: 10px;
  }
}

.aparecer {
  transition: all 250ms ease-in 0s;
  display: block;
  height: auto;
  transition: height 4s;
}
