/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    nav {
        border-radius: 0 !important;
    }
}

.navbar {
    background-color: $bgnav;
    border: none !important;
    .navbar-header {
        a {
            img {
                width: 160px;
                max-width: 160px;
                margin: 10px 40px 0 40px;
            }
        }
    }
    .navbar-toggle{
      .icon-bar {
        background: $bgcolor;
      }
    }

    .navbar-nav {
        li {
            .phone {
                font-size: $texto-grande;
                font-weight: $texto-bold;
            }
            a {
                color: $color-textos-nav;
                transition: .2s ease-in-out;
                font-size: $texto-nav;
                letter-spacing: 1px;
                &:hover {
                    background-color: transparent;
                    transition: .2s ease-in;
                }
                &:focus {
                    background-color: transparent;
                    transition: .2s ease-in;
                }
            }
        }
    }
}
