@media only screen and (min-width : 480px) {
  .servicio-pagina {
    .wrap-servicio {
      .wrap-titulo {
        margin-top: 0;
        width: 50%;
      }

      .form-group {
        width: 70%;
      }

      .form-inline {
        input {
          width: 45px;
        }
      }
    }
  }

  .tabs-custom {
    border-bottom: 2px solid $gray;
  }
}

.servicio-pagina {
  margin-top: 30px;
  margin-bottom: 20px;

  .categoria {
    li {
      color: $gray;

      a {
        font-weight: $texto-semibold;
        font-size: $texto-nav;
        color: $gray;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }
      }

      &:after {
        content: '\f105';
        font-family: 'FontAwesome';
        padding-left: 10px;
      }

      &:last-child:after {
        content: '';
      }
    }
  }

  .wrap-servicio {
    .wrap-galeria {
      margin-bottom: 20px;
    }
    // .wrap-desc {
    //   // position: relative;
    //   // display: inline-block;
    //   // height: 100%;
    // }
    .wrap-titulo {
      line-height: 1.5em;
      // width: 50%;
      overflow: hidden;

      h2 {
        font-size: $texto-titulo;
        margin-top: 0;
        font-weight: $texto-bold;
        color: $color-titulo;
      }
    }

    h3 {
      margin-top: 10px;
      color: $color-rosa;
      font-weight: $texto-bold;
    }

    label {
      font-size: $texto-grande;
      font-weight: $texto-semibold;
      color: $color-titulo;
    }

    .input-group {
      input {
        height: 33px;
      }
    }

    .content-desc {
      // position: absolute;
      // bottom: 0;
      h4 {
        margin-top: 30px;
        font-size: $texto-grande;
        font-weight: $texto-bold;
      }

      ul {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;

        li {
          margin-top: 5px;
          color: $bgnav;

          &:before {
            content: '\f00c';
            font-family: FontAwesome;
            display: inline-block;
            margin-right: 5px;
          }
        }
      }

      .btn-rosa {
        margin-top: 10px;
        background: $color-rosa;
        color: $bgcolor;
        border-radius: 50px;
        text-transform: uppercase;
        font-weight: $texto-semibold;
      }
    }
  }
}

.tabs-custom {
  margin-top: 30px;
  position: relative;
  height: 100%;
  display: inline-block;
  margin-bottom: 40px;
  width: 100%;
  
  .nav-tabs {
    position: relative;
    bottom: -2px;

    li {
      a {
        font-size: $texto-normal;
        font-weight: $texto-semibold;
        border: none !important;
        transition: all 250ms ease-in 0s;
        color: $gray;

        &:hover {
          background: $bgcolor;
          color: $bgnav;
        }

        &:focus {
          color: $bgnav;
        }
      }
    }

    .active {
      color: $bgnav;
      border-bottom: 2px solid $bgnav;
      // transition: 0.5s;
      &:hover a {
        color: $bgnav;
      }

      a {
        color: $bgnav;

        &:focus {
          color: $bgnav;
        }
      }
    }
  }
}

.tab-content {
  text-align: justify;

  p {
    color: $gray;
    font-size: $texto-normal;
    margin-bottom: 40px;
  }
}

.relacionados {
  margin-bottom: 40px;

  .ifix-product-box {
    margin-bottom: 10%;
    padding: 0;
    // text-align: center;
  }

  .shadow-box {
    border: 1px solid #e7e7e7;
    background: $bgcolor;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;

    &:hover {
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

  .content-desc {
    padding: 15px;
    text-align: left;

    .price {
      color: $color-rosa;
    }

    h5 {
      margin-top: 0;
      color: $gray;
      font-weight: $texto-normal;
    }

    p {
      margin-top: 10px;
      color: $gray;
      text-align: justify;
      min-height: 60px;
    }
  }

  .btn-out-rosa {
    border: 1px solid $color-rosa;
    border-radius: 50px;
    color: $color-rosa;
    transition: all 250ms ease-in 0s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $texto-nav;

    &:hover {
      background: $color-rosa;
      color: $bgcolor;
    }
  }
}
