$bgcolor: #ffffff;
$color-textos-nav: #ffffff;
$black: #000;
$gray: #999;
$bgcopy: #222;
$color-titulo: #424242;
$color-rosa: #ff4289;
$bgnav: #1D50B1;
$bgfooter: #252525;
$texto-bold: 700;
$texto-semibold: 600;
$texto-normal: 500;
$texto-nav: 14px;
$texto-normal: 16px;
$texto-grande: 18px;
$texto-titulo: 22px;