@import './_variables';

@import './_navbar.scss';
@import './_footer.scss';
@import './_servicios.scss';
@import './_login.scss';

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";

body {
  background: $bgcolor;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
